.hidden {
  visibility: hidden; /* Hidden but space remains in layout */
  opacity: 0; /* Makes it invisible */
  transition: opacity 0.5s ease;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.cardContainer {
  perspective: 1000px;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.card {
  /* background-color: #1e3a8a; */
  background-color: #4a148c;
  width: 22rem;
}

.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  /* overflow: hidden; */
}

.cardInner:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.flipped .cardInner {
  transform: rotateY(180deg);
}

.cardFront,
.cardBack {
  position: absolute;
  /* width: 100%;
  height: 100%; */
  backface-visibility: hidden;
}

.cardFront {
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardBack {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cargImg {
  border: 4px solid white;
  border-radius: 100%;
}

/* h3 {
  margin: 20px 0;
} */

.playerContainer {
  max-width: 1000px;
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px; /* Optional padding for spacing */
  text-align: center;
}

/* Center the submit button */
.submitButtonContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.frontButtonColor {
  background-color: #20c997; /* Cool green background */
  color: #fff; /* White text color for better contrast */
  border: none;
  padding: 10px;
  border-radius: 5px; /* Rounded corners for a smoother look */
  transition: all 0.3s ease; /* Smooth transition for hover and focus */
}

.frontButtonColor:hover {
  background-color: #17a589; /* Darker shade on hover */
  color: #fff; /* Keep the text color white */
  opacity: 0.9; /* Slight opacity change */
  transform: translateY(-4px); /* Lift effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increased shadow for depth */
}

.frontButtonColor:active {
  background-color: #138f72; /* Even darker shade for active state */
  transform: translateY(1px); /* Slight press effect */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); /* Reduced shadow for pressed button */
}
