/* YourComponent.module.css */

.card {
  border-radius: 12px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  cursor: pointer;
  background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 100%);
  color: #333;
  height: 400px; /* Set the card height */
  margin-top: 10%;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.iconContainer {
  background-color: white;
  border-radius: 50%;
  width: 200px; /* Set icon container width */
  height: 200px; /* Set icon container height */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  /* margin-top: -32px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon {
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
}

.card-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.card-text {
  color: #555;
}
